.nav {
    grid-area: n;
    background-color: cadetblue;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: blueviolet;
    text-decoration: none;
}