.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;
    color: white;

}

.active {
    color: blueviolet;
}

.dialog {

}

.messages {
    padding: 10px;

}

.messages .message {
    color: white;

}